









/*    
.main_product_category .main_product_tab li .button.active::after {

    background-color: #f00;
} */

/* .main_product_category .main_product_tab li .button.active:after {background-color: #f00;}
.main_product_category .main_product_tab li .button.active:after {
    background-color: #f00;} 

    .main_product_category .main_product_tab li .button::after {
   
    background-color: #f00;} */


/********************wish버튼 색상변경***************/
.ec-base-product .prdList .prdList__item .icon__box > span {
    
    color: #0c0c0c;
   }

/* .ec-base-product .prdList .prdList__item .icon__box > span {
      transition: color 0.3s ease, font-size 0.3s ease;
   } */

.ec-base-product .prdList .prdList__item .icon__box > span:hover, 
.ec-base-product .prdList .prdList__item .icon__box > span.on {
    background-color:#fff;
    border: 1px solid #fff;
    color:#f00;
     transition: color 0.3s ease, font-size 0.3s ease;
   /* font-size: 1.2em; */
}



























/* 실패한 코드들 */

/* 아이콘 박스 후버시 보더 없이고 글씨만 빨간색으로 커지게 */
/* .ec-base-product .prdList .prdList__item .icon__box > span {
    transition: color 0.3s ease, font-size 0.3s ease;
}

.ec-base-product .prdList .prdList__item .icon__box > span:hover, 
.ec-base-product .prdList .prdList__item .icon__box > span.on {
    color: rgb(245, 3, 3);
    font-size: 1.2em;} 원하는 크기로 조절 가능} */




/* 이미지텍스트갤러리 글자색밑줄 */
      /* .main_banner_more {
  color: rgb(154, 154, 154);
  position: relative;
  display: inline-block;
  cursor: pointer;
  transition: color 0.3s ease;
}

.main_banner_more::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: red;
  transition: width 0.4s ease;
}

.main_banner_more:hover {
  color: rgb(100, 100, 100);
}

.main_banner_more:hover::after {
  width: 100%;
} */

/* 이미지텍스트갤러리 글자색밑줄2 */
/* .main_banner_more {
  color: rgb(154, 154, 154);
  position: relative;
  display: inline-block;
  cursor: pointer;
  transition: color 0.3s ease;
  width: fit-content;
}

.main_banner_more::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: red;
  transition: width 0.4s ease;
}

.main_banner_more:hover {
  color: red;
}

.main_banner_more:hover::after {
  width: 100%;
} */