
/* 헤더네비게이션 빨간줄 */
#header .inner .top_nav_box .top_category > ul > li:hover > a:after {   
    background-color: #f00;
}
#header .inner .top_nav_box .top_category > ul > li > a:after {    
    bottom: 0px;
    width: 100%;
    height: 2px;
    background-color: #cfcfcf;    
}
/*화면작아질때 선이 위로올라가는 이슈 해결*/
#header .inner .top_nav_box .top_category > ul > li > a {    
    line-height: 2;   
}
@media (max-width: 1780px) {
    #header .inner .top_nav_box .top_category > ul > li > a {
        line-height: 2;
    }
}


/*푸터*/
#footer .inner .bt_sns .bt_sns_box {
  justify-content: start;
}

